.navbar {
    width: 68%;
    margin: auto;
}

.net {
    background-color: tan;
    width: 700px;
}

.logo {
    display: none;
}

.faceofwebsite {
    width: 643px;
}

.lp {
    width: 700px;
}

.reviews {
    width: 700px;
}

.hi {
    left: 298px;
}

.footer {
    width: 700px;
}